<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current domains ({{domains.length}})</h4>
  <div class="card-body">
  
	<form *ngIf="!isEditing" class="form-inline" [formGroup]="addDomainForm" (ngSubmit)="addDomain()">
		<label>Add Domain:<input class="form-control mr-2" type="text" name="domaininput" formControlName="domaininput" placeholder="Domain Name"></label>
		<button class="btn btn-primary" type="submit" [disabled]="!addDomainForm.valid"><i class="fa fa-floppy-o"></i> Confirm</button>
	</form>
	
	<form *ngIf="!isEditing" class="form-inline" [formGroup]="deleteDomainForm" (ngSubmit)="deleteDomain(domains[deletedomain.value])">
		<label>Delete Domain:<select class="custom-select" name="deletedomain" [(ngModel)]="deletedomainmodel" formControlName="deletedomain">
			<!--<option value="" selected disabled>Select Domain</option>-->
			<option *ngFor="let domain of domains; let i = index" [attr.data-index]="i" value="{{i}}">{{domain.domaininput}}</option>
		</select></label>
		<button *ngIf="!valExists(domains[deletedomain.value])" class="btn btn-danger" type="submit" disabled><i class="fa fa-floppy-o"></i> Delete</button>
		<button *ngIf="valExists(domains[deletedomain.value])" class="btn btn-danger" type="submit"><i class="fa fa-floppy-o"></i> Delete {{domains[deletedomain.value].domaininput}}</button>
	</form>
    
	<form *ngIf="isEditing" class="form-inline" #form="ngForm" (ngSubmit)="editCredentials(cred)">
	  <input class="form-control mr-2" type="text" name="creddomain" [(ngModel)]="cred.creddomain" placeholder="Domain" required>
	  <input class="form-control mr-2" type="text" name="credusername" [(ngModel)]="cred.credusername" placeholder="Username" min="0" required>
	  <input class="form-control mr-2" type="text" name="credpassword" [(ngModel)]="cred.credpassword" placeholder="Password" step="any" min="0" required>
	  <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
	  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
	</form>
    
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Your Credentials</h4>
  <div class="card-body">
	
	<form class="form-inline" [formGroup]="selectDomainForm">
		<label>Choose Domain:<select class="custom-select" name="selectdomain" [(ngModel)]="selectdomainmodel" formControlName="selectdomain">
			<option *ngFor="let domain of domains; let i = index" [attr.data-index]="i" value="{{i}}">{{domain.domaininput}}</option>
		</select></label>
		<!--<p *ngIf="valExists(domains[selectdomainmodel])">Selected: {{domains[selectdomainmodel].domaininput}}</p>-->
	</form>
	
	<table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="creds.length === 0">
        <tr>
          <td colspan="5">There are no credentials in the DB. Add new credentials below.</td>
        </tr>  
      </tbody>
      <tbody>
        <tr *ngFor="let cred of creds">
			<ng-container *ngIf="valExists(domains[selectdomainmodel]) && cred.creddomain===domains[selectdomainmodel].domaininput">
				<td *ngIf="valExists(cred.showing) && cred.showing">{{cred.credusername}}</td>
					<td *ngIf="!valExists(cred.showing) || !cred.showing">****</td>
				<td *ngIf="valExists(cred.showing) && cred.showing">{{cred.credpassword}}</td>
					<td *ngIf="!valExists(cred.showing) || !cred.showing">****</td>
				<td>
				<button *ngIf="valExists(cred.showing) && cred.showing" class="btn btn-sm btn-info" (click)="toggleShow(cred)" value="hidden"><i class="fa fa-eye-slash"></i> Hide</button>
					<button *ngIf="!valExists(cred.showing) || !cred.showing" class="btn btn-sm btn-info" (click)="toggleShow(cred)" value="hidden"><i class="fa fa-eye"></i> Show</button>
				<button class="btn btn-sm btn-primary" (click)="enableEditing(cred)"><i class="fa fa-pencil"></i> Edit</button> 
				<button class="btn btn-sm btn-danger" (click)="deleteCredentials(cred)"><i class="fa fa-trash"></i> Delete</button>
				</td>
		  </ng-container>
        </tr>  
      </tbody>
	</table>
	
    <form *ngIf="valExists(domains[selectdomainmodel])" class="form-inline" [formGroup]="addCredentialsForm" (ngSubmit)="addCredentials()">
	  <input class="form-control mr-2" type="text" name="credusername" formControlName="credusername" placeholder="Username">
	  <input class="form-control mr-2" type="text" name="credpassword" formControlName="credpassword" placeholder="Password">
	  <!--<input type="text" name="creddomain" formControlName="creddomain" placeholder="Domain" value="{{domains[selectdomainmodel].domaininput}}">-->
      <button class="btn btn-primary" type="submit" [disabled]="!addCredentialsForm.valid"><i class="fa fa-floppy-o"></i> Add Credentials</button>
    </form>
  </div>
</div>